<h1>Editing search</h1>

<% form_for(@search) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :search %><br />
    <%= f.text_field :search %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @search %> |
<%= link_to 'Back', searches_path %>